<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-input [(ngModel)]="email" label="Correo" type="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input [(ngModel)]="password" label="Contraseña" type="password"></ion-input>
  </ion-item>
  
  <ion-button color="primary" routerLink="/inicio"> .
  </ion-button>  
  
  <ion-button color="primary" (click)="login()">Iniciar sesión</ion-button>
</ion-content>
