<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-input [(ngModel)]="email" label="Correo" type="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input [(ngModel)]="password" label="Contraseña" type="password"></ion-input>
  </ion-item>

  
  <ion-button size="small">
    <ion-button color="primary" routerLink="/inicio"> inicio </ion-button>
  </ion-button>  
  
  <ion-button color="primary" expand="full" (click)="login()">
    Iniciar sesión
  </ion-button>
  <div class="registro-link">
    <ion-icon name="person-add-outline" slot="start"></ion-icon>
    <a routerLink="/registro">¿No tienes cuenta? <strong>Regístrate aquí</strong></a>
  </div>
</ion-content>
