<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button routerLink="/cards">
      <ion-label>Cards</ion-label>
    </ion-item>
    <ion-item button routerLink="/productos">
      <ion-label>Productos</ion-label>
    </ion-item>
    <ion-item button routerLink="/acerca-de">
      <ion-label>Acerca de....</ion-label>
    </ion-item>
    <ion-item button routerLink="/notificaciones">
      <ion-label>Notificaciones</ion-label>
    </ion-item>
    <ion-item button routerLink="/conocenos">
      <ion-label>Conócenos</ion-label>
    </ion-item>
  </ion-list>

  <ion-button size="small" color="primary" routerLink="/login">
    Cerrar sesión
  </ion-button>  
</ion-content>
